#section-1 {
    margin-bottom: 40px;
}

#taskList {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    gap: 10px;
}
#taskList li {
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    /* width: 20%; */
}
#taskList li button {
    margin: 10px 10px 10px 0px;
}
#taskList li span {
    /* color: #999; */
    font-size: 14px;
}
#taskList li button + p {
    color: #999;
    font-size: 14px;
}