<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flex.css">
</head>
<body>

    <h1>Flexbox</h1>

    <section id="section-1">
        <h2>This is section-1</h2>
        <div class="row">
            <div class="col col-1">
                <h2>This is column-1</h2>
                <ul>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate fuga. Adipisci blanditiis id qui! Consectetur similique harum esse quisquam cumque, sapiente dicta recusandae dolore cum eius odio ipsum sint.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col col-2">
                <h2>This is column-2</h2>
                <img src="https://www.royalchallengers.com/PRRCB01/public/styles/1061x767_landscape/public/2020-03/srt100.jpg?h=65a4b400&itok=ui_3Quqa" alt="img">
                <hr>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod error odio, numquam, impedit laudantium tempora obcaecati nam repellendus eaque non adipisci? Tenetur nam, facere quae reiciendis quidem sunt vero voluptas?
                </p>
            </div>
            <div class="col col-3">
                <h2>This is column-3</h2>
                <img src="https://img.jagranjosh.com/imported/images/E/GK/sachin-records.png" alt="">
                <img src="https://img.jagranjosh.com/imported/images/E/GK/sachin-records.png" alt="">
                <img src="https://img.jagranjosh.com/imported/images/E/GK/sachin-records.png" alt="">
                
            </div>
        </div>
    </section>

    <hr>

    <section id="section-2">
        <h2>Image Gallery</h2>
        <ul>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
            <li>
                <img src="https://statico.sportskeeda.com/editor/2017/11/d4fc1-1509814735-800.jpg?w=640" alt="">
            </li>
        </ul>
    </section>
    
</body>
</html>