<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="float.css">
</head>
<body>

    <h1>Float example</h1>

    <section id="section-1">
        <h2>This is section-1</h2>
        <div class="row">
            <div class="col-1 col">
                <h2>This is col-1</h2>
            </div>
            <div class="col-2 col">
                <h2>This is col-2</h2>
            </div>
            <!-- <div class="clear"></div> -->
        </div>
    </section>
    
    <section id="section-2">
        <h2>This is section-2</h2>
    </section>
    
</body>
</html>