<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="gridExample.css">
</head>
<body>

    <h1>Grid Example</h1>

    <div class="row">
        <div class="col-1 col">
            <h2>This is col-1</h2>
        </div>
        <div class="col-2 col">
            <h2>This is col-2</h2>
        </div>
        <div class="col-3 col">
            <h2>This is col-3</h2>
        </div>
        <div class="col-4 col">
            <h2>This is col-4</h2>
        </div>
        <div class="col-5 col">
            <h2>This is col-5</h2>
        </div>
        <div class="col-6 col">
            <h2>This is col-6</h2>
        </div>
        <div class="col-7 col">
            <h2>This is col-7</h2>
        </div>
        <div class="col-8 col">
            <h2>This is col-8</h2>
        </div>
        <div class="col-9 col">
            <h2>This is col-9</h2>
        </div>
    </div>
    
</body>
</html>