<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="MediaQueries.css">
</head>
<body>

    <h1>Media Queries</h1>

    <div class="row">
        <div class="col-1 col">
            <h2>This is column-1</h2>
        </div>
        <div class="col-2 col">
            <h2>This is column-2</h2>
        </div>
        <div class="col-3 col">
            <h2>This is column-3</h2>
        </div>
        <div class="col-4 col">
            <h2>This is column-4</h2>
        </div>
    </div>
    
</body>
</html>