<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="float.css">
</head>
<body>

    <h1>Two Col Layout</h1>

    <div class="row">
        <div class="col col-1"></div>
        <div class="col col-2"></div>
    </div>

    <div class="next-div">
        <h2>This is some heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, fugiat veniam quae eius, laborum iusto et odit odio nostrum labore dolorem provident corporis eum sunt temporibus ipsum tempora ipsam aliquid?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, commodi quae accusantium labore soluta officiis, tenetur illum mollitia, voluptates ratione molestiae! Nulla dolores est commodi quas voluptates ipsum quam odio!</p>
        <img src="https://rukminim2.flixcart.com/fk-p-flap/520/280/image/5f6901650e0f77d5.jpg?q=20" alt="">
    </div>
    
</body>
</html>