/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper classes */
.row::after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}