/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper classes */
.row::after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

#header .logo {
    width: 10%;
    margin-top: 10px;
}

#header .search {
    width: 50%;
    margin-left: 15px;
    margin-top: 10px;
}

#header .search input[type="text"]{
    width: 100%;
    height: 40px;
}

#header .user-links {
    width: 35%;
    margin-top: 20px;
}

#header .user-links ul li {
    display: inline;
    margin: 0px 15px;
    font-size: 20px;
}